   <header>
        <h1>Concert Buddy</h1>
        <nav class="nav justify-content-end">
            <li class="nav-item">
                <a class="nav-link " href="#Home.html">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link " href="Login.html">Login</a>
            </li>
            <li class="nav-item">
                <a class="nav-link " href="#profile.html">User Profile</a>
            </li>
        </nav>
    </header>
