<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css">
  <link rel="stylesheet" href="/styles/styles.css" media="screen" title="no title" charset="utf-8">
  <title>Concert Buddy</title>
</head>

<body>
  <header>
    <div class="first-header-container">
        <nav class="navbar navbar-light navbar-fixed">
            <a href= "/" ><h1>Concert Buddy</h1></a>
            <ul class="nav nav-pills">
                <li class="nav-item">
                    <a class="nav-link " href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " href="/signup">Sign Up</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " href="/login">Login</a>
                </li>
            </ul>
        </nav>
    </div>
</header>
  {{{body}}}


    <!-- Footer -->
    <script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.13.0/umd/popper.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <script src="/js/index.js"></script>
   
</body>

</html>
