<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1 class="logo text-center">ConcertBuddy</h1>
            <br>
            <h3 class="hero-text text-center">your new best friend is waiting</h3>
        </div>
    </div>
    <!-- CTA buttons -->
    <br>
   
    <br>
</div>
    <!-- SLIDESHOW -->
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active cta">
                <a href="/signup"><img class="d-block w-100 hero-image min-vh-100" src="/photos/edwin-andrade-158050-unsplash.jpg"
                        alt="First slide">
                    <div class="carousel-caption d-none d-md-block cta-text">
                        <p>Moved to a new city? Your friends don't "share" your taste in music? ConcertBuddy is here to
                            help.</p>
                    </div>
                </a>
            </div>
            <div class="carousel-item cta">
                <a href="/signup"><img class="d-block w-100 hero-image min-vh-100" src="/photos/photo-1428988449731-1e5ccfb5b84f.jpeg" alt="Second slide">
                    <div class="carousel-caption d-none d-md-block cta-text">
                        <p>Use ConcertBuddy to find your concert and connect with other people looking for a buddy.</p>
                    </div>
                </a>
            </div>
            <div class="carousel-item cta">
                <a href="/signup"><img class="d-block w-100 min-vh-100" src="/photos/photo-1527259693341-cbc6f91e4d6e.jpeg"
                        alt="Third slide">
                    <div class="carousel-caption d-none d-md-block cta-text">
                        <p>Meet your new ConcertBuddy and make some memories. Sign up today and meet other music nerds.</p>
                    </div>
            </div>
            </a>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
        <br>
    </div>

    <!-- <div class="row">
        <!---Start of search bar-->
        <!-- <div class="col-md-12"> -->
            <!-- <form class="card card-sm">
                    <div class="card-body row no-gutters align-items-center">
                        <div class="col-auto">
                            <i class="fas fa-search h4 text-body"></i>
                        </div>
                        <div class="col">
                            <input class="search form-control form-control-lg form-control-borderless" type="search"
                                placeholder="Type in Artist">
                        </div> -->
            <!--end of col-->
            <!-- <div class="form-group">
                <input type="text" class="form-control" id="bandInput" placeholder="Input the artist or zip code and click ">
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="exampleRadios" id="Artist" value="option1" checked>
                <label class="form-check-label" for="exampleRadios1">
                    Artist
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="exampleRadios" id="Zip" value="option2">
                <label class="form-check-label" for="exampleRadios2">
                    Zip Code
                </label>
            </div>
            <br>
            <div class="col-md-12">
                <button class="btn btn-lg btn-secondary bandSearch" type="submit">Search</button>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="eventWall">
            </div>
        </div>
    </div>
</div> -->
<!-- <div class="row">
        <a href="/signup"><button class="btn btn-secondary btn-block" type="submit">Sign Up For Free</a>
        </button>
    </div>
    <br>
    <div class="row">
        <a href="/login"><button class="btn btn-secondary btn-block" type="submit">Log In</a>
        </button>
    </div> -->

<br><br><br><br>
<footer>
    <!-- Footer -->
    <footer class="page-footer">
        <div class="footer-copyright text-center py-3">© 2018 Copyright: AAIR</div>
        <!-- Copyright -->

    </footer>
    </div>