<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
        <div class="carousel-item active cta">
            <img class="d-block w-100 hero-image min-vh-100" src="/photos/edwin-pic.jpg" alt="First slide">
            <div class="carousel-caption d-none d-md-block cta-text">
                <div class="row">
                    <div class="col-md-12">
                        <h1 class="logo text-center">ConcertBuddy</h1>
                        <br>
                        <h3 class="hero-text text-center">never ride solo to a show again</h3>
                    </div>
                    <br>
                    <a class="btn btn-secondary btn-block cta-button" href="/signup" role="button">Sign Up</a>
                    <a class="btn btn-secondary btn-block cta-button" href="/login" role="button">Log In</a>
                </div>
            </div>
        </div>
        <div class="carousel-item cta">
            <img class="d-block w-100 hero-image min-vh-100" src="/photos/james-barr-491013-unsplash.jpg" alt="Second slide">
            <div class="carousel-caption d-none d-md-block cta-text">
                <div class="row">
                    <div class="col-md-12">
                        <h1 class="logo text-center">ConcertBuddy</h1>
                        <br>
                        <h3 class="hero-text text-center">weird music tastes welcome</h3>
                    </div>
                    <br>
                    <a class="btn btn-secondary btn-block cta-button" href="/signup" role="button">Sign Up</a>
                    <a class="btn btn-secondary btn-block cta-button" href="/login" role="button">Log In</a>
                </div>
            </div>
        </div>
        <div class="carousel-item cta">
            <img class="d-block w-100 min-vh-100" src="/photos/nicola-gypsicola-70783-unsplash.jpg" alt="Third slide">
            <div class="carousel-caption d-none d-md-block cta-text">
                <div class="row">
                    <div class="col-md-12">
                        <h1 class="logo text-center">ConcertBuddy</h1>
                        <br>
                        <h3 class="hero-text text-center">because you're never "too tired"</h3>
                    </div>
                    <br>
                    <a class="btn btn-secondary btn-block cta-button" href="/signup" role="button">Sign Up</a>
                    <a class="btn btn-secondary btn-block cta-button" href="/login" role="button">Log In</a>
                </div>
            </div>
        </div>
    </div>


    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>
<footer>
    <footer class="page-footer">
        <div class="footer-copyright text-center py-3">© 2018 Copyright: AAIR</div>

    </footer>
    </div>