body{
  background: whitesmoke;
}

header, footer{
  background: #4e606e;
}

header h1, a, p{
  color: whitesmoke;
}

footer h5, a, p{
  color: whitesmoke;
}

header a:hover{
color: #ace9ec;
}

.list-group-item {
  line-height: 2.5;
}

.carousel-caption {
  font-size: 3em;
  top: 50%;
  transform: translateY(-50%);
  bottom: initial;
}

.submit{
  color: whitesmoke;
}

.search-title {
  color: #4e606e;
}

.footer-copyright{
  color: whitesmoke;
}